p {
    text-align: center;
}

table {
    width: 60%;
    background-color: rgb(218, 210, 210);
}

.tab-info {
    margin-left: 280px;
}

input {
    height: 30px;
}

h1 {
    text-align: center;
}

.btn {
    text-align: center;
}

.heading{
    text-align: center;
    margin-top: 270px;
    font-size: 40px;
 
}
.submit-form{
    background-color: rgb(92, 164, 92);
}
